.bg-image {
  /* The image used */
  background-image: url('../../assets/imgs/bg.jpg');

  /* Add the blur effect */
  filter: blur(6px);
  -webkit-filter: blur(6px);

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 20%;
  transform: translate(-20%, -20%);
  width: 100%;
  padding: 20px;
}

  
  .noteslist {     
    background: transparent;
  } 

  .notesbutton { 
    background: transparent;
    text-align: start;
    width: 100%;
    color: white;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 25px;
  } 

  .addbutton { 
      
    text-align: start;
    color: white;

  } 
  ion-button{
    span{
      text-align:left;
      width:100%;
    }
  }
  .title {
  position: relative;
  background: transparent;
  text-align: center;
  border-radius: 25px;
  
  color: rgb(194, 211, 39);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5%;
}