ion-content {
    --background: url('../assets/imgs/bg.jpg') no-repeat center center fixed;
  }

.bg-transparent {
  position: relative;
  margin-top: 50px;
  margin-left: 60px;
  background: transparent;
  border-color: red;
  text-align: center;
  border: 2px solid red;
  border-radius: 25px;
  border-color: red;
  color: white;
  width: 180px;
  }