<ion-content>
  <div class="bg-image"></div>
  <div class="bg-text">
  <ion-title class="title">New note</ion-title>
  <br>
  <form [formGroup]="formGroup" (ngSubmit)="saveNote(formGroup.value)">
    <ion-item shape="round">
      <ion-label>Date</ion-label>
      <ion-datetime  displayFormat="MM/DD/YYYY" formControlName="date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input type="text" name="title" formControlName="title"></ion-input>
      <div class="alert" *ngIf="!formGroup.controls['title'].valid
      && formGroup.controls['title'].touched">{{titleAlert}}</div>
    </ion-item>
    <ion-item>
      <ion-label>Note</ion-label>
      <ion-input type="text" name="content" formControlName="content"></ion-input>
      <div class="alert" *ngIf="!formGroup.controls['content'].valid
      && formGroup.controls['content'].touched ">{{contentAlert}}</div>
    </ion-item>
      <br>
      <ion-button color="danger" type="submit" [disabled]="!formGroup.valid">Save Note</ion-button>
  </form>
  </div>
</ion-content>
