

.from {
  display: inline-block;
  position: relative;
  background: transparent;
  text-align: center;
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  width: 110px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  position: relative;
  background: transparent;
  text-align: center;
  border-radius: 25px;
  
  color: rgb(194, 211, 39);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5%;
}

.to {
  display: inline-block;
  position: relative;
  background: transparent;
  border-color: white;
  text-align: center;
  border: 2px solid white;
  border-radius: 25px;
  border-color: white;
  color: white;
  width: 110px;
  margin-right: auto;
  margin-left: 5%;
}

.bg-image {
  /* The image used */
  background-image: url('../assets/imgs/bg.jpg');

  /* Add the blur effect */
  filter: blur(6px);
  -webkit-filter: blur(6px);

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-20%, -20%);
  width: 100%;
  padding: 20px;
  text-align: center;
}

.input {

  background: transparent;
  border-color: white;
  text-align: center;
  border: 2px solid white;
  border-radius: 25px;
  border-color: white;
  color: white;
  width: 140px;
  margin-top: 2%;
  margin-right: auto;
  margin-left: auto;
}

.outputrate {

  background: transparent;
  border-color: white;
  text-align: center;
  border: 2px solid white;
  border-radius: 25px;
  border-color: white;
  color: white;
  margin-top: 2%;
  margin-right: auto;
  margin-left: auto;
}